.tombos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // justify-content: space-around;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 48px;
}

.filters {
    margin-bottom: 24px;
}

.newTombo {
    padding-bottom: 24px;
    display: flex;
    justify-content: end;
}
