# generated
dist/
node_modules/
examples/
reports/

.env*
!.env.example

# tools
.eslintcache

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
