.container-main {
  background: #88c9f9;
}

.ant-form-item-control-wrapper,
.ant-form-item {
  width: 100%;
}

.container-hcf {
  /* background: #00a0e9; */
  /* height: 631px; */
  padding-top: 4%;
  padding-bottom: 4%;
}

.container-login {
  /* background: #333; */
  /* height: 631px; */
  padding-top: 1%;
}

.container-header {
  background: #fafafa;
}

.font-weight-normal {
  font-weight: 100;
}

.buttons-main {
  height: 68px;
  width: 100%;
  border-radius: 0;
  border-right: 0;
}

.buttons-main:active {
  border-right: 0;
}

.header-text {
  padding-left: 10px;
  background-color: #fff;
}

.container {
  background-image: url('../img/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 91vh;
}

.divOpaca {
  width: 100%;
  min-height: 91vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentForm {
  background-color: white;
  padding: 32px;
  border-radius: 5px;
  min-width: 40%;
  max-width: 400px;
}


.ant-legacy-form-item-control-wrapper {
    width: 100%;
}

.ant-select-single {
    width: 100%;
}
