.content {
  margin-top: 16px;
}

.card {
  width: 240px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  :global {
    .ant-card-meta-title {
        word-wrap: break-word;
        white-space: normal;
    }
  }
}

.image {
  height: 150px;
}

.editIcon {
    color: orange;
}

.removeIcon {
    color: red;
}

.meta {
    word-wrap: break-word;
}
