.content {
  margin-top: 16px;
}

.card {
  width: 30%;
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  :global {
    .ant-card-meta-title {
        word-wrap: break-word;
        white-space: normal;
    }
  }
}

.image {
  height: 150px;
}

.editIcon {
    color: orange;
}

.removeIcon {
    color: red;
}

.meta {
    word-wrap: break-word;
}

@media only screen and (max-width: 576px) { //xs
    .card {
        width: 100%;
    }
    .image {
        height: 300px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 876px) { //sm
    .card {
        width: 45%;
    }
    .image {
        height: 300px;
    }
}
