name: pull-request

on:
  - pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup environment
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/jod'
      - name: Install dependencies
        run: yarn install
      - name: Run checks
        run: yarn lint
        continue-on-error: true

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup environment
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/jod'
      - name: Install dependencies
        run: yarn install
      - name: Run tests with coverage
        run: yarn test --silent --coverage
      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/
          retention-days: 7
          overwrite: true

  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: filesystem
          scan-ref: .
          # trivy-config: trivy.yaml
          hide-progress: true
          exit-code: 0
      - name: Archive scan results
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-report.json
          retention-days: 7
          overwrite: true
